# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.md text
*.css text
*.scss text
*.yml text
*.yaml text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
